#chart-L{
    -webkit-flex: 1 0 40%;
    flex: 1 0 40%;
}

#chart-R{
    -webkit-flex: 1 0 40%;
    flex: 1 0 40%;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

div.tooltipL, div.tooltipR {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 4px;
    font-size: 12px;
    color: white;
    background: rgb(5, 8, 78);
    border: none;
    border-radius: 2px;
    pointer-events: none;
}